<ion-view view-title="Playlists"> 
    <ion-content has-bouncing="false">

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Ім'я</span>
                <input type="text" value="Євген">
            </label>
            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <input type="email" value="oigen90@gmail.com">
            </label>
        </div>

        <div class="list">
            <label class="item item-input item-icon-right">
                <span class="input-label">Стать</span>
                <input type="tel" value="Чоловіча">
                <i class="icon ion-ios-arrow-forward"></i>
            </label>
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Телефон</span>
                <input type="tel" value="(050) 915-29-16">
            </label>
            <div class="item item-icon-right">
                Додати новий телефон
                <i class="icon ion-ios-plus-outline"></i>
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-icon-right">
                <span class="input-label">Адреса</span>
                <input type="tel" value="В.Гетьмана, 38, 82">
                <i class="icon ion-ios-arrow-forward"></i>
            </label>
            <label class="item item-input item-icon-right">
                <span class="input-label">Адреса</span>
                <input type="tel" value="Артема, 1-5, 404">
                <i class="icon ion-ios-arrow-forward"></i>
            </label>
            <div class="item item-icon-right">
                Додати нову адресу
                <i class="icon ion-ios-plus-outline"></i>
            </div>
        </div>

    </ion-content>
</ion-view>