$qrshopBlue: #0680bd;
$blueishGrey: #d3e5ed;

.main-menu-list {
    height: 100%;
    background: $qrshopBlue;
    color: #fff;

    & a, & a.activated {
        background: inherit;
        color: inherit;
        border: none;
    }

    & .heading {
        background: inherit;
        border: none;
        color: inherit;
        font-size: 500%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.view-container, .pane {
    background: $blueishGrey;

    & * {
        background-color: inherit;
    }
}