$qrshopBlue: #0680bd;

.main-menu-list {
    height: 100%;
    background: $qrshopBlue;
    color: #fff;

    & a {
        background: inherit;
        color: inherit;
        border: none;
    }

    & .heading {
        background: inherit;
        border: none;
        color: inherit;
        font-size: 500%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}