<ion-view view-title="Адреса"> 
    <ion-content has-bouncing="false">
        <div class="list">
            <a href="#/app/search" class="item item-input item-icon-right">
                <span class="input-label">Місто</span>
                <input type="tel" value="Київ" readonly>
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
            <label class="item item-input item-icon-right">
                <span class="input-label">Район міста</span>
                <input type="tel" value="Солом'янський" readonly>
                <i class="icon ion-ios-arrow-forward"></i>
            </label>
            <label class="item item-input item-icon-right">
                <span class="input-label">Вулиця</span>
                <input type="tel" value="В.Гетьмана" readonly>
                <i class="icon ion-ios-arrow-forward"></i>
            </label>
            <label class="item item-input item-icon-right">
                <span class="input-label">Будинок</span>
                <input type="tel" value="38">
            </label>
            <label class="item item-input item-icon-right">
                <span class="input-label">Квартира</span>
                <input type="tel" value="82">
            </label>
            
        </div>
    </ion-content>

    <!-- <ion-footer-bar align-title="left" class="bar-dark">
        <div class="buttons">
            <button class="button button-block button-positive">Зберегти</button>
        </div>
    </ion-footer-bar> -->
    <div class="bar bar-dark bar-footer">
        <button class="button button-block button-positive">Зберегти</button>
    </div>
</ion-view>