<ion-view view-title="Стать"> 
    <ion-content has-bouncing="false">
        <ion-radio ng-model="gender" ng-value="'m'">Чоловіча</ion-radio>
        <ion-radio ng-model="gender" ng-value="'f'">Жіноча</ion-radio>
    </ion-content>

    <!-- <ion-footer-bar align-title="left" class="bar-dark">
        <div class="buttons">
            <button class="button button-block button-positive">Зберегти</button>
        </div>
    </ion-footer-bar> -->
    <div class="bar bar-dark bar-footer">
        <button class="button button-block button-positive">Зберегти</button>
    </div>
</ion-view>